
@Styles.Render("~/Content/navbar.css")

<nav class="navbar">
    <div class="navcol">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <i>
                @Html.ActionLink("Florí", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </i>

        </div>
        <div class="collapse navbar-collapse " id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                @Html.ActionLink("Bouquets", "Bouquets", "Home")
                @Html.ActionLink("Compositions", "Compositions", "Home")
                @Html.ActionLink("Contact me", "Contact", "Home")
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Admin", "Admin", "Home")

                }
                else
                {
                    @Html.Partial("_LoginPartial")
                }
            </ul>
        </div>
    </div>
</nav>