@model FloriProject.Web.Models.EditBouquetVM

@{
    ViewBag.Title = "Edit";
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Florí</title>

    @Styles.Render("~/Content/admin.css")

    @Scripts.Render("~/bundles/modernizr")

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="navcol">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <i>
                    @Html.ActionLink("Florí", "HomePage", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </i>

            </div>
            <div class="collapse navbar-collapse " id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    @Html.ActionLink("Create Bouquet", "Create", "Bouquets")
                    @Html.ActionLink("Back to Bouquet List", "Index", "Bouquets")
                    @Html.ActionLink("Admin", "Admin", "Home") 
                    @Html.ActionLink("Bouquets", "Bouquets", "Home")
                    @Html.ActionLink("Compositions", "Compositions", "Home")
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        @using (@Html.BeginForm("Edit", "Bouquets", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <h1 center>Edit the Bouquet</h1>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                        <div class="col-md-10">
                            @*<label for="myfile" class="chous">Choose a file</label>
        @Html.TextBoxFor(model => model.NewPhoto, new { @type = "file", @class = "my" })*@
                            @Html.TextBoxFor(model => model.NewPhoto, new { @type = "file" })
                        </div>
                    </div>
                  
                    <script>
                        $('.my').change(function () {
                            if ($(this).val() != '') $(this).prev().text('Your File is here');
                            else $(this).prev().text('Choose a file');
                        });;
                    </script>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "text-align:left" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-input message w-input", @style = "height:150px;", placeholder = "Please enter the description here" } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="chous col-lg-12" style="margin-top:20px" />
                        </div>
                    </div>
                </div>
        }
    </div>
</body>
</html>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

